html, body{
  margin:0;
  padding:0;
}
.header{
  width:100vw;
  height:30px;
  background:#58ACFA;
  color:white;
  font:15px/30px Helvetica;
  padding-left:20px;
  box-sizing:border-box;
}
.btns{
  width:100vw;
  height:60px;
  background:gray;
  position:fixed;
  bottom:0;
}
button{
  width:60px;
  height:60px;
  background:red;
  border-radius:50%;
  margin-left:calc(50vw - 30px);
  cursor:pointer;
  outline:none;
}
:focus{
  outline:none;
}
::-moz-focus-inner{
  border:0;
}

button:focus { 
   outline: none; 
}

#records{
  width:100vw;
  height:calc(100vh - 90px);
  overflow-y:scroll;
  overflow-x:hidden;
  padding-top:15px;
  box-sizing:border-box;
}
.wrapRec{
  display:block;
  width:100%;
  padding-left:20px;
  padding-right:15px;
  box-sizing:border-box;
}
audio{
  display:block;
  width:100%;
  border-radius:15px;
  margin-bottom:5px;
}